.head{
    background-color: #EFE4D2;
    height:138vh;
}
.firsthead{
    color: #254D70;
    text-align: center;
    font-size: 100px;
    padding: 7%;
    position: relative;
    animation-name: mainhead;
    animation-duration: 5s;
    animation-fill-mode: forwards; 
}
.head p{
    text-align: center;
    font-size: 25px;
    position: relative;
    animation-name: slogan;
    animation-duration: 5s;
    animation-fill-mode: forwards; 

}
 @media (max-width:1024px){
        .firsthead{
            font-size: 8vw;
        } 
    }
        @media (max-width:600px){
        .firsthead{
            font-size: 10vw;
            line-height: 1.2;
        } 
    }
    @media (max-width:1024px){
        .head p{
            font-size: 1vw;
        } 
    }
        @media (max-width:600px){
        .head p{
            font-size: 1vw;
            line-height: 1.3;
        } 
    }

   @media (max-width:1024px){
        .head{
            height: 100vh;
        } 
    }
  @media (max-width:600px){
    .head{
         height: 80vh;
    }
  }
.head img{
    width: 80%;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.para{
    display: flex;
    justify-content: center;
}

.para p{
    margin-top: 4%;
    text-align: center;
    width: 70%;
}
.secondhead{
    font-size: 40px;
    color: #254D70;
    padding: 5%;
    font-weight: 400;
}
@keyframes mainhead {
    0%{
        top:0;
    }
    100%{
      top: 50px;
        transform: translateX(20);
    }
}
@keyframes slogan {
    0%{
        bottom:0;
    }
    100%{
        bottom: 50px;
        transform: translateX(20);
    }
}

.container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
    }

.card {
      position: relative;
      flex: 1 1 calc(50% - 20px); 
      background-color: white;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      padding: 20px;
      box-sizing: border-box;
      min-height: 150px;
      background-color: #EFE4D2;
    }

.card img.logo {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 40px;
      height: 40px;
    }

.card h2 {
      margin-top: 0;
      font-size: 1.2em;
      color: #333;
      position: relative;
     animation-name: subhead;
     animation-delay: 5s;
     animation-duration: 5s;
     animation-fill-mode: forwards; 
    }
.card p {
      color: #555;
      line-height: 1.4;
    }

@media (max-width: 600px) {
      .card {
        flex: 1 1 100%;
      }
    }
@keyframes subhead {
    0%{
       right: 0;
    }
    100%{
       right: 10px;
        transform: translateX(20);
    }
}
 .about{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
}

@media (max-width:900px){
    .about{
        margin-top: 8%;
        flex-direction: column;
        align-items: center;
}
}
.about h1{
    display: flex;
    align-items: center;
    color: #254D70;
    font-size: 50px;
    font-weight: 300;
     position: relative;
    animation-name: aboutpara;
     animation-delay: 5s;
     animation-duration: 5s;
     animation-fill-mode: forwards;
}
.about p{
     margin-top: 4%;
    width: 50%;
    position: relative;
    animation-name: abouthead;
     animation-delay: 5s;
     animation-duration: 5s;
     animation-fill-mode: forwards;
} 
@keyframes aboutpara {
    0%{
       bottom: 0;
    }
    100%{
       bottom: 30px;
        transform: translateX(20);
    }
}
@keyframes abouthead {
    0%{
       bottom: 0;
    }
    100%{
       bottom: 30px;
        transform: translateX(20);
    }
}
.slide-image {
  width: 80%; 
  height: auto;
  overflow: hidden;
  margin: auto;
  margin-top: 2%;
  position: relative;
}
.sliderImg {
  width: 100%;
  animation: revealFromTop 2s ease-out forwards;
  clip-path: inset(100% 0 0 0);
}
@keyframes revealFromTop {
  to {
    clip-path: inset(0 0 0 0);
  }
}
.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.slide-text h2 {
  font-size: 2rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
   opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s ease forwards;
  animation-delay: 1s;
}
.slide-text button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: white;
  color: brown;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: lighter;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
   opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s ease forwards;
   animation-delay: 1.5s; 
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.works {
  text-align: center;
  background-color: #f7f9fc;
  padding: 50px 20px;
}

.works h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: 300;
  color:#254D70;
}

.steps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 10px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 120px;
}

.circle {
  width: 45px;
  height: 45px;
  background-color: #b8b7b7;
  color: #333232;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  margin-bottom: 10px;
}

.step p {
  font-size: 0.95rem;
  max-width: 90px;
  color: #363535;
}

.line {
  width: 30px;
  height: 2px;
  background-color: #aaa;
  margin: 0 5px;
}

.footer-container{
    background-color: #254D70;
    color: rgb(243, 237, 237);
    padding: 30px;
    margin: 1%;
    margin-top: 4%;
}
.copyright p{
    text-align: center;
}
.service-header{
    margin: 6%;
}
.service-header h1{
    font-size: 50px;
    color: #254D70;
}
.service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 20px;
    margin-top: 6%;
}
.des1{
    padding: 10px;
    line-height: 35px;
}
.des1 h3{
  color: #38546a;
  font-weight: 400;
}
.des1 p{
      color: #4b4b4b;
}
.service img{
    border-radius: 10px;
}
.service-body{
    background-color: #eaebe6;
}
.contact-img{
    display: flex;
    justify-content:space-between;
    position: relative;
}
.contact-head{
    position: absolute;
    top: 20%;
}
@media(max-width:900px){
    .contact-head h2{
        font-size: 10px;
    }
}
@media (max-width:900px){
    .contact-head{
        font-size: 10px;
    }
}
.contact-head h2{
    font-size: 50px;
    padding: 20px;
    color: #254D70;
    position: relative;
    animation-name: getintouch;
    animation-duration: 5s;
    animation-fill-mode: forwards; 

}
.contact-para p{
     margin: 2%;
    width: 40%;
    color: #555;
}
.project-head{
    margin: 6%;
}
.project-head h1{
    font-size: 50px;
    color: #254D70;

}
.contact-details{
    margin-top: 3%;
}
.map{
    margin-top: 3%;
}
iframe{
    width: 100vw;
}
@keyframes getintouch {
    0%{
        top:0;
    }
    100%{
      top: 30px;
        transform: translateX(20);
    }
}
.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #fff;
    margin-top: 1%;
}
.contact-container h2{
    display: flex;
    align-items: center;
    font-size: 50px;
    color: #254D70;
}
.contact-form h2{
    font-size: 50px;
    line-height: 3;
    color: #254D70;
}
.contact-form {
    width: 500px;
    background: transparent;
    padding: 20px;
    color: #000;
}
.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    color: grey;
}
input, textarea {
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    padding: 10px;
    outline: none;
}
textarea {
    resize: vertical;
    height: 100px;
}
.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
button {
    padding: 10px 30px;
    border: 1px solid #000;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}
button:hover {
    background-color: #254D70;
    color: #fff;
}
@media (max-width: 900px) {
      .contact-container {
        flex-direction: column;
        align-items: center;
      }
}
.review-container{
    margin: 6%;
}
.review-container h1{
    margin-bottom: 8%;
    color: #254D70;
    font-size: 50px;
}
.review-body{
    background-color: #eaebe6;
}
.ourstory-body{
    background-color:aliceblue;
}
.story-container h1{
    text-align: center;
    font-size: 50px;
    color: #254D70;
    margin-bottom: 4%;
}
.story-container p{
    text-align: center;
}
.story{
    display: flex;
    gap: 80px;
    margin: 10%;
    margin-top: 6%;
}
@media (max-width:900px){
    .story{
        flex-direction: column;
        align-items: center;
    }
}
.story h1{
    color: #254D70;
}
 .team-section {
      max-width: 900px;
      margin: auto;
    }
    .team-heading {
      margin-top: 10%;
      font-size: 40px;
      margin-bottom: 4%;
      text-align: center;
      color: #254D70;
    }
    .team-member {
      display: flex;
      background: white;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      margin-bottom: 20px;
      opacity: 0;
      transform: translateX(-50px);
      animation: slide 0.6s forwards;
    }

    .team-member img {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }

    .member-info {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .member-name {
      font-size: 20px;
      font-weight: bold;
    }

    .member-role {
      font-size: 14px;
      color: #777;
    }

    @keyframes slide {
      100%{
        opacity: 1;
        transform: translateX(0);
      }
    }

.carousel {
  margin: 40px auto;
  max-width: 90%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
.carousel img {
  height: 60vh;
  object-fit: cover;
}
.object-cover {
  object-fit: cover;
}
.ratio-3x2 {
  position: relative;
  width: 100%;
  padding-top: 66.66%;
}

.ratio-3x2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.carousel-control-prev,
.carousel-control-next {
  background: none;
  border: none;
  width: 5%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus {
  background: none;
  outline: none;
  box-shadow: none;
}
#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  font-size: 24px;
  background-color: #949494;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 20%;
  cursor: pointer;
  display: none;
  transition: opacity 0.3s ease;
}

#backToTop:hover {
  background-color: #5b5a5a;
}
.video{
  position: relative;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.video-bg {
  width: 100%;
  height: auto;
  display: block;
}

.animated-text {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  animation: fade 2s ease-out forwards;
  opacity: 0;
}

@keyframes fade {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.typing-text {
  position: absolute;
  top: 55%;
  width: 80%;
  left: 14%;
  color: white;
  font-size: 1.4rem;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 7s steps(120, end);
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.feature-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #c1c4c9;
  padding: 40px 0;
  border-radius: 10px;
  margin-left: 2%;
  margin-right: 2%;
}
.feature{
  text-align: center;
  font-family: sans-serif;
}

.feature img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.feature-number {
  color: rgb(57, 57, 26);
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 5px;
}

.feature-label {
  font-weight: 600;
  color: #000;
  font-size: 1.2rem;
}
